html, body {
  background: black;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.character {
  bottom: 0;
  height: 300px;
  position: absolute;
  width: 300px;
}

.mario {
  background: url('img/mario.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.luigi {
  background: url('img/luigi.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
